@import url('header.css');
@import url('section.css');
@import url('footer.css');
@import url('normalize.css');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.section--gray {
    background-color: #F6F6F6;
}

.anim-block {
    opacity: 0;
    animation: show .3s 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-direction: alternate;
}


@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
}